<%= form_for @user do |f| %>
  <%= f.label :username %> (min. one character)
<p>  <%= f.text_field :username, placeholder: 'Username' %></p>
     <%= f.label :email %>
  <p><%= f.text_field :email, placeholder: 'Email' %></p>
  <%= f.label :password %> (min. five characters, max five characters)
  <p><%= f.password_field :password, placeholder: 'Password' %></p>
  <%= f.submit %>
<% end %>
