
<h2>This is <%=current_user.username%>'s profile page</h2>

<h1>Create your trail</h1>

<ul>
<% @trail.each do |i| %>
  <% if current_user.id == i.creator %>
    <li><%= i.title %></li>
  <% end %>
<% end %>
</ul>

<div id="map-trail">
</div>

<form action="/trails" method="post" id="create-trail-form">
  <%= token_tag %>
  <input class='create-trail-title' type="text" name="trail[title]" placeholder="Title">
  <input class='create-trail-description' type="text" name="trail[description]" placeholder="description">
  <input class='create-trail-state' type="text" name="trail[state]" placeholder="State">
  <input class="current-user-id" type="hidden" value="<%=current_user.id%>">
  <button class='create-trail-button'>Create Trail</button>

</form>

<% content_for :custom_javascript do %>
  <%= javascript_include_tag 'mapCreator'%>
<% end %>
