<!DOCTYPE html>
<html>
<head>
  <title>TrailMap</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic|Josefin+Slab:600,700,600italic' rel='stylesheet' type='text/css'>


</head>
<body>
 <%= render '/shared/nav'%>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :custom_javascript %>

</body>
</html>
